{% extends 'base.html' %}
{% block title %} Datos Agente {% endblock %}
{% block content %} 

<div class="container">
   <div class="title">
      <h1>Detalle Agente</h1>
   </div>   

   <div class="content_box">
      <div class="data_container">
         <div class="column">
   
            <p>Nombre: {{ agent.user.first_name }} </p>
            <p>Apellido: {{ agent.user.last_name }}</p>
            <p>RUT: {{ agent.rut }}</p>
            <p>Teléfono:{{ agent.phone }}</p>
            <p>Usuario: {{ agent.user.username }} </p>
            <p>Area: {{ agent.area }}</p>
            {% if agent.user.is_active %}
               <p>Estado: Activo</p>
            {% else %}
               <p>Estado: Inactivo</p>
            {% endif %}
            <p>Tickets creados:  </p>
            <p>Tickets resueltos: </p>
           
           {% if agent.user.is_active %}
           <form action="{% url 'deactivate_user' agent.id %}" method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <button>Desactivar Usuario</button>
            </form>
            {% else %}
            <form action="{% url 'activate_user' agent.id %}" method="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <button>Reactivar Usuario</button>
            </form>
            {% endif %}
        </div>
      </div>   
   </div>
</div>

{% endblock %}