{% extends "base.html" %} 
{% block title %} Registro {% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <h1> Registro </h1>
    </div>
    <div class="content_box register-form">
        <div class="data_container">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                    <div class="form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                    <button type="submit">Registrar</button>
                </form>
        </div>
    </div>
</div>

{% endblock %}