{% extends 'base.html' %}
{% block title %} Modficar contraseña {% endblock %}
{% block content %}
<div class="container">
    <div class="title">
        <h1>Modificar contraseña</h1>
    </div>
    <div class="content_box register-form">
      <div class="data_container">
        <div class="form_card">
          <h4>Al modificar tu contraseña deberás volver a autenticarte.</h4>
          {% if error %}
          <p>{{ error }}</p>
          {% endif %}
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="save_button" type="submit"><p><i class="fa-solid fa-floppy-disk"></i> Guardar</p></button>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}