{% extends 'base.html' %}
{% block title %} Inicio de Sesión{% endblock %}
{% block content %}
    <div class="container">
        <div class="title">
            <h1>Inicio de sesión</h1>
        </div>
        <div class="content_box register-form">
            <div class="data_container">
                <div class="form_card">
                    {% if error %}
                        <p>{{ error }}</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Usuario:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label for="id_password">Contraseña:</label>
                            {{ form.password }}
                        </div>
                        <button type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}