{% extends "base.html" %} 
{% block title %} Listar Tickets {% endblock %}
{% block content %} 
  <div class="container">
    <div class="title">
      <h1>Tiques</h1>
    </div>
    <button class="create_button"><a href="{% url 'create_ticket' %}">Crear ticket</a></button>

    {% if tickets %}
      <!-- Filtros de tipo dropdown -->
      <form method="GET">
        <select name="priority">
          <option value="">Prioridad</option>
          {% for priority in priorities %}
            <option value="{{ priority.id }}">{{ priority.priority_description }}</option>
          {% endfor %}
        </select>

        <select name="type">
          <option value="">Tipo</option>
          {% for type in types %}
            <option value="{{ type.id }}">{{ type.type_description }}</option>
          {% endfor %}
        </select>
        
        <select name="status">
          <option value="">Estado</option>
          {% for status in statuses %}
            <option value="{{ status.id }}">{{ status.status_description }}</option>
          {% endfor %}
        </select>

        <input type="date" name="specific_date" placeholder="Fecha específica">
        <button type="submit" method="POST">Filtrar</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>Detalles</th>
            <th>Id</th>
            <th>Prioridad</th>
            <th>Asunto</th>
            <th>Agente apertura</th>
            <th>Fecha Apertura</th>
            <th>Tipo</th>
            <th>Área</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
            <tr>
              <td>
                <button><a href="{% url 'ticket_view' ticket.id %}">Ver</a></button>
              </td>
              <td>{{ ticket.id }}</td>
              <td>{{ ticket.priority }}</td>
              <td>{{ ticket.issue }}</td>
              <td>{{ ticket.opening_agent.user.first_name }} {{ ticket.opening_agent.user.last_name }}</td>
              <td>{{ ticket.opening_date|date:"d/m/Y" }}</td>
              <td>{{ ticket.type }}</td>
              <td>{{ ticket.asigned_area }}</td>
              <td> 
                {% if ticket.status.status_description == "Resuelto" %}
                  <button disabled style="background-color: rgb(104, 196, 104); color:black">Resuelto</button>
                {% elif ticket.status.status_description == "No aplica" %}
                  <button disabled style="background-color: rgb(233, 89, 89); color:black">No aplica</button>
                {% else %}
                  <button><a href="{% url 'solve_ticket' ticket.id %}">Resolver</a></button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="rol_box no_tickets">
        <h3>¡UPS!</h3>
        <h3>No hay tickets registrados</h3>
        <i class="fa-solid fa-face-frown"></i>
      </div>
    {% endif %}
  </div>
{% endblock %}
